@font-face {
  font-family: oswald_bold;
  src: url(../fonts/Oswald-Bold.ttf);
}
@font-face {
  font-family: oswald_light;
  src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
  font-family: oswald_regular;
  src: url(../fonts/Oswald-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: oswald_regular;
  word-wrap: break-word;
  word-break: break-all;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  /* ff 3.6+ */
  background: -moz-linear-gradient(90deg, rgb(14, 14, 13) 0%, rgba(84, 0, 15, 0.96) 48%, rgb(41, 2, 41) 100%);
  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, rgb(14, 14, 13) 0%, rgba(84, 0, 15, 0.96) 48%, rgb(41, 2, 41) 100%);
  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, rgb(14, 14, 13) 0%, rgba(84, 0, 15, 0.96) 48%, rgb(41, 2, 41) 100%);
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#290229", endColorstr="#0E0E0D", GradientType=0 );
  /* ie 10+ */
  background: -ms-linear-gradient(90deg, rgb(14, 14, 13) 0%, rgba(84, 0, 15, 0.96) 48%, rgb(41, 2, 41) 100%);
  /* global 94%+ browsers support */
  background: linear-gradient(90deg, rgb(14, 14, 13) 0%, rgba(84, 0, 15, 0.96) 48%, rgb(41, 2, 41) 100%);
}
body .main-cv-container {
  position: relative;
  min-height: 100vh;
  max-width: 50%;
  margin: 0 auto;
  background: url(../img/achtergrond.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
body .main-cv-container .headcat {
  display: flex;
  flex-wrap: wrap;
}
body .main-cv-container .headcat .headcat-title {
  width: 100%;
  font-family: oswald_bold;
  font-size: 3.5rem;
  text-align: center;
}
body .main-cv-container .headcat .headcat-text {
  width: 90%;
  margin: 0 auto;
  font-style: italic;
  color: rgb(75, 29, 154);
}
body .main-cv-container .subcat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
}
body .main-cv-container .subcat .subcat-title {
  background-color: rgb(67, 67, 187);
  text-align: center;
  color: white;
  font-family: oswald_bold;
  font-size: 2rem;
  text-transform: uppercase;
}
body .main-cv-container .subcat .subcat-detailbox {
  background-color: rgba(168, 168, 168, 0.5);
  margin-top: 1rem;
}
body .main-cv-container .subcat .subcat-detailbox.personal-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 115px;
}
body .main-cv-container .subcat .subcat-detailbox.personal-info .personal-info-image {
  width: 100px;
  height: 100px;
}
body .main-cv-container .subcat .subcat-detailbox.personal-info .personal-info-image > img {
  width: 100%;
  height: 100%;
}
body .main-cv-container .subcat .subcat-detailbox.personal-info .personal-info-textbox {
  text-align: center;
}
body .main-cv-container .subcat .subcat-detailbox.personal-info .personal-info-textbox .personal-info-text {
  color: rgb(67, 67, 67);
}
body .main-cv-container .subcat .subcat-detailbox.personal-info .personal-info-iconbox {
  height: 100px;
  width: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body .main-cv-container .subcat .subcat-detailbox.personal-info .personal-info-iconbox .personal-info-icon {
  width: 50px;
  cursor: pointer;
  height: 32px;
}
body .main-cv-container .subcat .subcat-detailbox .detail-textbox {
  text-align: center;
}
body .main-cv-container .subcat .subcat-detailbox .detail-textbox .detail-text {
  color: rgb(67, 67, 67);
}
body .footerbox {
  position: relative;
  height: 3.5rem;
  margin-top: 1rem;
  max-width: 50%;
  margin: 0 auto;
  background: url(../img/achtergrond.png);
  text-align: center;
}
body .footerbox .footer-text {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  background-color: black;
  color: white;
}

/*# sourceMappingURL=style.css.map */
